apiVersion: v1
kind: Service
metadata:
  name: {{ include "heml.fullname" . }}
  labels:
    app: {{ template "helm.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
  selector:
    app: {{ template "helm.fullname" . }}
    release: {{ .Release.Name }}
